

.blue { color: blue; 
        font-size: 68px;

}


body { color: chocolate;

}


h2 { flood-color: cornflowerblue; font-size: 60px;}


h3 { color: darkgreen; font-size: 60px ;

}



div { color: darkmagenta; font-size: 39px ;

}



#ali { color: darkorange; font-size: 70px;

}